{% if request.user.is_authenticated %}
    <p>{{request.user}}</p>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
{% else %}
<a href = "{% url 'login' %}">Login</a>
{% endif %}

<hr>

<h1>My to Do List</h1>
<a href="{% url 'task-create' %}">Add Task</a>
<table>
<tr>
    <th>Item</th>
    <th>Weather color</th>
    <th></th>
    <th></th>
    {% for task in tasks %}
    <tr>
        <td>{{task.title}}</td>
        <td class="color-column" style="background-color: {{task.background_color}}">
            <div class="color-box"></div>
        </td>
        <td><a href="{% url 'task' task.id %}">View</a></td>
        <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
        <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>

    </tr>
    {% empty %}
        <h3>No tasks in list</h3>
    {% endfor %}
</tr>
</table>